---
layout: layouts/arcade.njk
title: 'A4.4 Ethical Considerations - SGS Computer Science'
description: 'Ethics of ML, bias, privacy, accountability, and emerging technologies.'
activeSection: ib
breadcrumbs:
  - label: Home
    href: index.html
  - label: IB Computer Science
    href: ib-2027/index.html
  - label: A4
    href: ib-2027/A4/index.html
  - label: A4.4
hero:
  title: 'A4.4 Ethical Considerations'
  subtitle: 'SL: 5 hours | HL: 18 hours'
resourcesTitle: Content Slides
resources:
  - href: slides/A4.4_ethical_considerations.html
    number: A4.4
    name: Ethical Considerations
    type: Slide Deck
    target: _blank
resourcesSecondaryTitle: Teacher Resources
resourcesSecondary: []
---
{# Content rendered by layout #}
