---
layout: layouts/arcade.njk
title: 'Internal Assessment (IA) - SGS Computer Science'
description: Internal Assessment project development.
activeSection: ib
breadcrumbs:
  - label: Home
    href: index.html
  - label: IB Computer Science
    href: ib-2027/index.html
  - label: IA
hero:
  title: 'Internal Assessment (IA)'
  subtitle: Criteria A-E | The IA Cycle
cards:
  - href: /coming-soon.html
    title: Unit Plan
    image: images/specification_thumb.png
  - href: /coming-soon.html
    title: Flashcards
    image: images/flashcards_thumb.png
resourcesTitle: Content Slides
resources: []
resourcesSecondaryTitle: Teacher Resources
resourcesSecondary: []
---
{# Content rendered by layout #}
