---
layout: layouts/arcade.njk
title: 'A1 Computer Fundamentals - SGS Computer Science'
description: 'CPU components, memory, compression, cloud computing, data representation, logic gates, operating systems, and translation.'
activeSection: ib
breadcrumbs:
  - label: Home
    href: index.html
  - label: IB Computer Science
    href: ib-2027/index.html
  - label: A1
hero:
  title: 'A1 Computer Fundamentals'
  subtitle: 'SL: 11 hours | HL: 18 hours'
specification:
  examCode: 'A1'
  unitSummary: 'What principles underpin the operation of a computer, from low-level hardware functionality to operating system interactions?'
  subtopics:
    - 'A1.1 Computer Hardware and Operation'
    - 'A1.2 Data Representation and Computer Logic'
    - 'A1.3 Operating Systems and Control Systems'
    - 'A1.4 Translation'
resourcesTitle: Subtopics
resources:
  - href: A1.1/index.html
    number: A1.1
    name: Computer Hardware and Operation
    type: SL + HL
  - href: A1.2/index.html
    number: A1.2
    name: Data Representation and Computer Logic
    type: SL + HL
  - href: A1.3/index.html
    number: A1.3
    name: Operating Systems and Control Systems
    type: SL + HL
  - href: A1.4/index.html
    number: A1.4
    name: Translation
    type: HL Only
resourcesSecondaryTitle: Unit Resources
resourcesSecondary:
  - href: textbook.html
    icon: fa-solid fa-book
    name: Textbook
    type: Unit-level textbook reader
---
{# Content rendered by layout #}
