---
layout: layouts/arcade.njk
title: 'B1 Computational Thinking - SGS Computer Science'
description: 'Problem specification, computational thinking fundamentals, flowcharts, and algorithm design.'
activeSection: ib
breadcrumbs:
  - label: Home
    href: index.html
  - label: IB Computer Science
    href: ib-2027/index.html
  - label: B1
hero:
  title: 'B1 Computational Thinking'
  subtitle: 'SL: 5 hours | HL: 5 hours'
specification:
  examCode: 'B1'
  unitSummary: 'How can we apply a computational solution to a real-world problem?'
  subtopics:
    - 'B1.1 Problem Specification'
    - 'B1.2 Computational Thinking'
    - 'B1.3 Flowcharts & Pseudocode'
    - 'B1.4 Algorithm Design'
resourcesTitle: Subtopics
resources:
  - href: B1.1/index.html
    number: B1.1
    name: Problem Specification
    type: SL + HL
  - href: B1.2/index.html
    number: B1.2
    name: Computational Thinking
    type: SL + HL
  - href: B1.3/index.html
    number: B1.3
    name: Flowcharts & Pseudocode
    type: SL + HL
  - href: B1.4/index.html
    number: B1.4
    name: Algorithm Design
    type: SL + HL
resourcesSecondaryTitle: Unit Resources
resourcesSecondary:
  - href: textbook.html
    icon: fa-solid fa-book
    name: Textbook
    type: Unit-level textbook reader
---
{# Content rendered by layout #}
