---
layout: layouts/arcade.njk
title: 'B2 Programming - SGS Computer Science'
description: 'Programming fundamentals, data structures, constructs, algorithms, and file processing.'
activeSection: ib
breadcrumbs:
  - label: Home
    href: index.html
  - label: IB Computer Science
    href: ib-2027/index.html
  - label: B2
hero:
  title: 'B2 Programming'
  subtitle: 'SL: 40 hours | HL: 42 hours'
specification:
  examCode: 'B2'
  unitSummary: 'How can we apply computer programming to solve problems?'
  hideSubtopicPills: true
resourcesTitle: Subtopics
resources:
  - href: B2.1/index.html
    number: B2.1
    name: Programming Fundamentals
    type: SL + HL
  - href: B2.2/index.html
    number: B2.2
    name: Data Structures
    type: SL + HL
  - href: B2.3/index.html
    number: B2.3
    name: Programming Constructs
    type: SL + HL
  - href: B2.4/index.html
    number: B2.4
    name: Programming Algorithms
    type: SL + HL
  - href: B2.5/index.html
    number: B2.5
    name: File Processing
    type: SL + HL
resourcesSecondaryTitle: Unit Resources
resourcesSecondary:
  - href: textbook.html
    icon: fa-solid fa-book
    name: Textbook
    type: Unit-level textbook reader
  - icon: fa-solid fa-file-pen
    name: Assessment
    disabled: true
  - icon: fa-solid fa-layer-group
    name: Revision
    disabled: true
  - icon: fa-solid fa-gamepad
    name: Independent Tasks
    disabled: true
---
{# Content rendered by layout #}
