---
layout: layouts/arcade.njk
title: B2 Student Resources - SGS Computer Science
description: "Revision guides and study materials for IB Computer Science Topic B2."
activeSection: ib
breadcrumbs:
  - { label: "Home", href: "index.html" }
  - { label: "IB 2027", href: "ib-2027/index.html" }
  - { label: "B2", href: "ib-2027/B2/index.html" }
  - { label: "Student Resources" }
hero:
  title: Student Resources
  subtitle: B2 Programming Revision Guides
extraStyles:
  - css/resource-style.css
resourcesTitle: "Study Guides"
resources:
  - { href: /ib-2027/B2/B2.1_revision.html, number: "B2.1", name: "Programming Fundamentals", type: "Revision Guide" }
  - { href: /ib-2027/B2/B2.2_revision.html, number: "B2.2", name: "Data Structures", type: "Revision Guide" }
  - { href: /ib-2027/B2/B2.2_recursion.html, number: "B2.2", name: "Recursion", type: "Revision Guide" }
  - { href: /ib-2027/B2/B2.4_revision.html, number: "B2.4", name: "Search & Sort Algorithms", type: "Revision Guide" }
  - { href: /ib-2027/B2/B2.5_revision.html, number: "B2.5", name: "File Processing", type: "Revision Guide" }
---
