---
layout: layouts/arcade.njk
title: 'SL Unit 11: Global Networking - SGS Computer Science'
description: 'Network fundamentals, protocols, and security.'
activeSection: ib
breadcrumbs:
  - label: Home
    href: index.html
  - label: IB 2027
    href: ib-2027/index.html
  - label: SL
    href: ib-2027/sl/index.html
  - label: Unit 11
hero:
  title: 'Unit 11: Global Networking'
  subtitle: Themes A2.1-A2.4 | 3 Weeks (9 Lessons)
cards:
  - href: unit-plan.html
    title: Unit Plan
    image: images/specification_thumb.png
  - href: /coming-soon.html
    title: Flashcards
    image: images/flashcards_thumb.png
resourcesTitle: Content Slides
resources:
  - href: slides/A2.1_network_fundamentals.html
    number: A2.1
    name: Network Fundamentals
    type: Slide Deck
    target: _blank
  - href: slides/A2.2_network_architecture.html
    number: A2.2
    name: Network Architecture
    type: Slide Deck
    target: _blank
  - href: slides/A2.3_data_transmission.html
    number: A2.3
    name: Data Transmission
    type: Slide Deck
    target: _blank
  - href: slides/A2.4_network_security.html
    number: A2.4
    name: Network Security
    type: Slide Deck
    target: _blank
resourcesSecondaryTitle: Teacher Resources
resourcesSecondary:
  - href: /coming-soon.html
    icon: fa-solid fa-chalkboard-user
    name: Teacher Hub
    type: 'Slides, Activities, Assessments'
---
{# Content rendered by layout #}
