---
layout: layouts/arcade.njk
title: 'A3 Databases - SGS Computer Science'
description: 'Database fundamentals, design, programming, alternative databases, and data warehouses.'
activeSection: ib
breadcrumbs:
  - label: Home
    href: index.html
  - label: IB Computer Science
    href: ib-2027/index.html
  - label: A3
hero:
  title: 'A3 Databases'
  subtitle: 'SL: 11 hours | HL: 18 hours'
specification:
  examCode: 'A3'
  unitSummary: 'What are the principles, structures, and operations that form the basis of database systems?'
  hideSubtopicPills: true
resourcesTitle: Subtopics
resources:
  - href: A3.1/index.html
    number: A3.1
    name: Database Fundamentals
    type: SL + HL
  - href: A3.2/index.html
    number: A3.2
    name: Database Design
    type: SL + HL
  - href: A3.3/index.html
    number: A3.3
    name: Database Programming
    type: SL + HL
  - href: A3.4/index.html
    number: A3.4
    name: Alternative Databases and Data Warehouses
    type: HL Only
studentActivitiesResources:
  - href: /ib-2027/A3/sql-worksheets/index.html
    icon: fa-solid fa-file-lines
    name: SQL Worksheets
    type: Dataset-by-dataset worksheet sequence
  - href: /tools/sql-playground.html?dataset=campus-clubs
    icon: fa-solid fa-database
    name: SQL Playground
    type: Shared query tool with schema, ERD, and import or export
  - href: /ib-2027/A3/sql-project/index.html
    icon: fa-solid fa-database
    name: SQL Project
    type: Stage-by-stage project journey
  - href: /ib-2027/A3/nosql-project/index.html
    icon: fa-solid fa-database
    name: NoSQL Project
    type: Stage-by-stage NoSQL project (HL)
resourcesSecondaryTitle: Unit Resources
resourcesSecondary:
  - href: textbook.html
    icon: fa-solid fa-book
    name: Textbook
    type: Unit-level textbook reader
  - icon: fa-solid fa-file-pen
    name: Assessment
    disabled: true
  - icon: fa-solid fa-layer-group
    name: Revision
    disabled: true
  - icon: fa-solid fa-gamepad
    name: Independent Tasks
    disabled: true
---
{# Content rendered by layout #}
