---
layout: layouts/arcade.njk
title: 'A2.4 Network Security - SGS Computer Science'
description: 'Firewalls, vulnerabilities, countermeasures, encryption, and digital certificates.'
activeSection: ib
breadcrumbs:
  - label: Home
    href: index.html
  - label: IB Computer Science
    href: ib-2027/index.html
  - label: A2
    href: ib-2027/A2/index.html
  - label: A2.4
hero:
  title: 'A2.4 Network Security'
  subtitle: 'SL: 11 hours | HL: 18 hours'
resourcesTitle: Content Slides
resources:
  - href: slides/A2.4_network_security.html
    number: A2.4
    name: Network Security
    type: Slide Deck
    target: _blank
resourcesSecondaryTitle: Teacher Resources
resourcesSecondary: []
---
{# Content rendered by layout #}
