---
layout: layouts/arcade.njk
title: 'A4 Machine Learning - SGS Computer Science'
description: 'ML fundamentals, data preprocessing, approaches, and ethical considerations.'
activeSection: ib
breadcrumbs:
  - label: Home
    href: index.html
  - label: IB Computer Science
    href: ib-2027/index.html
  - label: A4
hero:
  title: 'A4 Machine Learning'
  subtitle: 'SL: 5 hours | HL: 18 hours'
specification:
  examCode: 'A4'
  unitSummary: 'What principles and approaches should be considered to ensure machine learning models produce accurate results ethically?'
  hideSubtopicPills: true
resourcesTitle: Subtopics
resources:
  - href: A4.1/index.html
    number: A4.1
    name: Machine Learning Fundamentals
    type: SL + HL
  - href: A4.2/index.html
    number: A4.2
    name: Data Preprocessing
    type: HL Only
  - href: A4.3/index.html
    number: A4.3
    name: Machine Learning Approaches
    type: HL Only
  - href: A4.4/index.html
    number: A4.4
    name: Ethical Considerations
    type: SL + HL
resourcesSecondaryTitle: Unit Resources
resourcesSecondary:
  - href: textbook.html
    icon: fa-solid fa-book
    name: Textbook
    type: Unit-level textbook reader
  - icon: fa-solid fa-file-pen
    name: Assessment
    disabled: true
  - icon: fa-solid fa-layer-group
    name: Revision
    disabled: true
  - icon: fa-solid fa-gamepad
    name: Independent Tasks
    disabled: true
---
{# Content rendered by layout #}
