---
layout: layouts/arcade.njk
title: 'A1.2 Data Representation and Computer Logic - SGS Computer Science'
description: 'Binary, hexadecimal, logic gates, truth tables, and logic diagrams.'
activeSection: ib
breadcrumbs:
  - label: Home
    href: index.html
  - label: IB Computer Science
    href: ib-2027/index.html
  - label: A1
    href: ib-2027/A1/index.html
  - label: A1.2
hero:
  title: 'A1.2 Data Representation and Computer Logic'
  subtitle: 'SL: 11 hours | HL: 18 hours'
resourcesTitle: Content Slides
resources:
  - href: slides/A1.2_data_representation.html
    number: A1.2
    name: Data Representation
    type: Slide Deck
    target: _blank
resourcesSecondaryTitle: Teacher Resources
resourcesSecondary: []
---
{# Content rendered by layout #}
