---
layout: layouts/arcade.njk
title: 'A3.4 Alternative Databases and Data Warehouses (HL Only) - SGS Computer Science'
description: 'NoSQL, cloud databases, spatial, in-memory, OLAP, and data mining.'
activeSection: ib
breadcrumbs:
  - label: Home
    href: index.html
  - label: IB Computer Science
    href: ib-2027/index.html
  - label: A3
    href: ib-2027/A3/index.html
  - label: A3.4
hero:
  title: 'A3.4 Alternative Databases and Data Warehouses'
  subtitle: 'HL Only'
resourcesTitle: Content Slides
resources:
  - href: slides/A3.4_alternative_databases_and_data_warehouses.html
    number: A3.4
    name: Alternative Databases & Data Warehouses
    type: Slide Deck
    target: _blank
resourcesSecondaryTitle: Teacher Resources
resourcesSecondary: []
---
{# Content rendered by layout #}
