---
layout: layouts/arcade.njk
title: 'HL Unit 1: Advanced Architecture - SGS Computer Science'
description: Extended CPU concepts and translation mechanisms.
activeSection: ib
breadcrumbs:
  - label: Home
    href: index.html
  - label: IB Computer Science
    href: ib-2027/index.html
  - label: HL
    href: ib-2027/hl/index.html
  - label: Unit 1
hero:
  title: 'Unit 1: Advanced Architecture'
  subtitle: 'Themes A1.1, A1.4 | 3 Weeks'
cards:
  - href: unit-plan.html
    title: Unit Plan
    image: images/specification_thumb.png
  - href: /coming-soon.html
    title: Flashcards
    image: images/flashcards_thumb.png
resourcesTitle: Content Slides
resources:
  - href: slides/A1.1_computer_hardware.html
    number: A1.1
    name: Computer Hardware
    type: Slide Deck
    target: _blank
  - href: slides/A1.4_translation.html
    number: A1.4
    name: Translation (HL)
    type: Slide Deck
    target: _blank
resourcesSecondaryTitle: Teacher Resources
resourcesSecondary:
  - href: /coming-soon.html
    icon: fa-solid fa-chalkboard-user
    name: Teacher Hub
    type: 'Slides, Activities, Assessments'
---
{# Content rendered by layout #}
