---
layout: layouts/arcade.njk
title: B4 Abstract Data Types - SGS Computer Science
description: "IB Computer Science Topic B4: Abstract data types. Interactive learning apps and revision resources."
activeSection: ib
breadcrumbs:
  - { label: "Home", href: "index.html" }
  - { label: "IB", href: "ib/index.html" }
  - { label: "B4", href: "ib/B4/index.html" }
hero:
  title: B4 Abstract Data Types
  subtitle: Interactive Learning Apps & Games
extraStyles:
  - css/resource-style.css
cards:
  - { href: specification.html, title: Specification, image: images/specification_thumb.png }
  - { href: flashcards.html, title: Flashcards, image: images/flashcards_thumb.png }
  - { href: LL_Visualisation.html, title: Linked List Visualiser, image: images/linked_list_thumb.png }
  - { href: BST_Visualisation.html, title: BST Visualiser, image: images/bst_thumb.png }
resources:
  - { href: B4.1_fundamentals_of_ADTs.html, number: "B4.1", name: Fundamentals of ADTs, type: Slide Deck • Presentation }
  - { href: teacher_toolkit.html, icon: fa-solid fa-toolbox, name: Teacher Toolkit, type: Simulations & Visuals }
  - { href: assessments.html, icon: fa-solid fa-clipboard-check, name: Assessments, type: Quizzes & Tests }
---
{# Content rendered by layout #}
