---
layout: layouts/arcade.njk
title: Algorithm Design and Problem-Solving Arcade - SGSD Computer Science
description: "IGCSE Computer Science Topic 7: Algorithm Design and Problem-Solving. Interactive games and revision apps."
backLink:
  href: igcse/index.html
  label: Back to Topics
hero:
  title: 7. Algorithm Design and Problem-Solving Arcade
  subtitle: Interactive Learning Apps & Games
extraStyles:
  - css/resource-style.css
cards:
  - { href: specification.html, title: Specification, image: images/specification_thumb.png }
  - { href: "#", title: Flashcards, image: images/flashcards_thumb.png }
resources:
  - { href: teacher_toolkit.html, icon: fa-solid fa-toolbox, name: Teacher Toolkit, type: Simulations & Visuals }
  - { href: assessments.html, icon: fa-solid fa-clipboard-check, name: Assessments, type: Quizzes & Tests }
---
{# Content rendered by layout #}
