---
layout: layouts/arcade.njk
title: 'A2 Networks - SGS Computer Science'
description: 'Network fundamentals, architecture, data transmissions, and security.'
activeSection: ib
breadcrumbs:
  - label: Home
    href: index.html
  - label: IB Computer Science
    href: ib-2027/index.html
  - label: A2
hero:
  title: 'A2 Networks'
  subtitle: 'SL: 11 hours | HL: 18 hours'
specification:
  examCode: 'A2'
  unitSummary: 'What are the principles and concepts that underpin how networks operate?'
  subtopics:
    - 'A2.1 Network Fundamentals'
    - 'A2.2 Network Architecture'
    - 'A2.3 Data Transmissions'
    - 'A2.4 Network Security'
resourcesTitle: Subtopics
resources:
  - href: A2.1/index.html
    number: A2.1
    name: Network Fundamentals
    type: SL + HL
  - href: A2.2/index.html
    number: A2.2
    name: Network Architecture
    type: SL + HL
  - href: A2.3/index.html
    number: A2.3
    name: Data Transmissions
    type: SL + HL
  - href: A2.4/index.html
    number: A2.4
    name: Network Security
    type: SL + HL
resourcesSecondaryTitle: Unit Resources
resourcesSecondary:
  - href: textbook.html
    icon: fa-solid fa-book
    name: Textbook
    type: Unit-level textbook reader
---
{# Content rendered by layout #}
