---
layout: layouts/arcade.njk
title: 'SL Unit 6: Data & Information - SGS Computer Science'
description: 'Databases, SQL, and data integrity.'
activeSection: ib
breadcrumbs:
  - label: Home
    href: index.html
  - label: IB 2027
    href: ib-2027/index.html
  - label: SL
    href: ib-2027/sl/index.html
  - label: Unit 6
hero:
  title: 'Unit 6: Data & Information'
  subtitle: Themes A3.1-A3.3 | 3 Weeks (9 Lessons)
cards:
  - href: unit-plan.html
    title: Unit Plan
    image: images/specification_thumb.png
  - href: /coming-soon.html
    title: Flashcards
    image: images/flashcards_thumb.png
resourcesTitle: Content Slides
resources:
  - href: slides/A3.1_database_fundamentals.html
    number: A3.1
    name: Database Fundamentals
    type: Slide Deck
    target: _blank
  - href: slides/A3.2_database_design.html
    number: A3.2
    name: Database Design
    type: Slide Deck
    target: _blank
  - href: slides/A3.3_database_programming.html
    number: A3.3
    name: Database Programming
    type: Slide Deck
    target: _blank
resourcesSecondaryTitle: Teacher Resources
resourcesSecondary:
  - href: /coming-soon.html
    icon: fa-solid fa-chalkboard-user
    name: Teacher Hub
    type: 'Slides, Activities, Assessments'
---
{# Content rendered by layout #}
