---
layout: layouts/arcade.njk
title: B2 Programming - SGSD Computer Science
description: "IB Computer Science Topic B2: Programming. Interactive learning apps and revision resources."
backLink:
  href: ib/index.html
  label: Back to Topics
hero:
  title: B2 Programming
  subtitle: Interactive Learning Apps & Games
extraStyles:
  - css/resource-style.css
cards:
  - { href: specification.html, title: Specification, image: images/specification_thumb.png }
  - { href: flashcards.html, title: Flashcards, image: images/flashcards_thumb.png }
resources:
  - { href: B2.1_programming_fundamentals.html, number: "B2.1", name: Programming fundamentals, type: Slide Deck • Presentation }
  - { href: B2.2_data_structures.html, number: "B2.2", name: Data structures, type: Slide Deck • Presentation }
  - { href: B2.3_programming_constructs.html, number: "B2.3", name: Programming constructs, type: Slide Deck • Presentation }
  - { href: B2.4_programming_algorithms.html, number: "B2.4", name: Programming algorithms, type: Slide Deck • Presentation }
  - { href: B2.5_file_processing.html, number: "B2.5", name: File processing, type: Slide Deck • Presentation }
  - { href: teacher_toolkit.html, icon: fa-solid fa-toolbox, name: Teacher Toolkit, type: Simulations & Visuals }
  - { href: assessments.html, icon: fa-solid fa-clipboard-check, name: Assessments, type: Quizzes & Tests }
---
{# Content rendered by layout #}
