---
layout: layouts/arcade.njk
title: 'HL Unit 5: Scalable Data Systems - SGS Computer Science'
description: Big data and distributed systems.
activeSection: ib
breadcrumbs:
  - label: Home
    href: index.html
  - label: IB 2027
    href: ib-2027/index.html
  - label: HL
    href: ib-2027/hl/index.html
  - label: Unit 5
hero:
  title: 'Unit 5: Scalable Data Systems'
  subtitle: Themes A3.3-A3.4 | 3 Weeks
cards:
  - href: unit-plan.html
    title: Unit Plan
    image: images/specification_thumb.png
  - href: /coming-soon.html
    title: Flashcards
    image: images/flashcards_thumb.png
resourcesTitle: Content Slides
resources:
  - href: slides/A3.3_database_programming.html
    number: A3.3
    name: Database Programming
    type: Slide Deck
    target: _blank
  - href: slides/A3.4_alternative_databases_and_data_warehouses.html
    number: A3.4
    name: Alternative Databases & Data Warehouses (HL)
    type: Slide Deck
    target: _blank
studentActivitiesResources:
  - href: /ib-2027/hl/unit-5/sql-worksheets/index.html
    icon: fa-solid fa-file-lines
    name: SQL Worksheets
    type: Starts with SL core work, then moves into HL reporting and transactions
  - href: /tools/sql-playground.html?dataset=course-enrolment
    icon: fa-solid fa-database
    name: SQL Playground
    type: Shared query tool for joins, reporting, views, and transactions
  - href: /ib-2027/hl/unit-5/nosql-project/index.html
    icon: fa-solid fa-file-code
    name: NoSQL Project
    type: Stage-by-stage project journey
resourcesSecondaryTitle: Teacher Resources
resourcesSecondary:
  - href: /coming-soon.html
    icon: fa-solid fa-chalkboard-user
    name: Teacher Hub
    type: 'Slides, Activities, Assessments'
---
{# Content rendered by layout #}
