---
layout: layouts/arcade.njk
title: 'A1.4 Translation (HL Only) - SGS Computer Science'
description: 'Interpreters, compilers, JIT compilation, and bytecode interpreters.'
activeSection: ib
breadcrumbs:
  - label: Home
    href: index.html
  - label: IB Computer Science
    href: ib-2027/index.html
  - label: A1
    href: ib-2027/A1/index.html
  - label: A1.4
hero:
  title: 'A1.4 Translation'
  subtitle: 'HL Only'
resourcesTitle: Content Slides
resources:
  - href: slides/A1.4_translation.html
    number: A1.4
    name: Translation
    type: Slide Deck
    target: _blank
resourcesSecondaryTitle: Teacher Resources
resourcesSecondary: []
---
{# Content rendered by layout #}
