---
layout: layouts/arcade.njk
title: 'A3.1 Database Fundamentals - SGS Computer Science'
description: 'Features, benefits and limitations of relational databases.'
activeSection: ib
breadcrumbs:
  - label: Home
    href: index.html
  - label: IB Computer Science
    href: ib-2027/index.html
  - label: A3
    href: ib-2027/A3/index.html
  - label: A3.1
hero:
  title: 'A3.1 Database Fundamentals'
  subtitle: 'SL: 11 hours | HL: 18 hours'
resourcesTitle: Content Slides
resources:
  - href: slides/A3.1_database_fundamentals.html
    number: A3.1
    name: Database Fundamentals
    type: Slide Deck
    target: _blank
resourcesSecondaryTitle: Teacher Resources
resourcesSecondary: []
---
{# Content rendered by layout #}
