---
layout: layouts/arcade.njk
title: 'A4.3 Machine Learning Approaches (HL Only) - SGS Computer Science'
description: 'Regression, classification, clustering, association rules, reinforcement learning, ANNs, and CNNs.'
activeSection: ib
breadcrumbs:
  - label: Home
    href: index.html
  - label: IB Computer Science
    href: ib-2027/index.html
  - label: A4
    href: ib-2027/A4/index.html
  - label: A4.3
hero:
  title: 'A4.3 Machine Learning Approaches'
  subtitle: 'HL Only'
resourcesTitle: Content Slides
resources:
  - href: slides/A4.3_machine_learning_approaches.html
    number: A4.3
    name: Machine Learning Approaches
    type: Slide Deck
    target: _blank
resourcesSecondaryTitle: Teacher Resources
resourcesSecondary: []
---
{# Content rendered by layout #}
