---
layout: layouts/arcade.njk
title: 'SL Unit 10: Binary Logic & Circuits - SGS Computer Science'
description: 'Binary, hexadecimal, logic gates, and operating systems.'
activeSection: ib
breadcrumbs:
  - label: Home
    href: index.html
  - label: IB Computer Science
    href: ib-2027/index.html
  - label: SL
    href: ib-2027/sl/index.html
  - label: Unit 10
hero:
  title: 'Unit 10: Binary Logic & Circuits'
  subtitle: Themes A1.2-A1.3 | 3 Weeks (9 Lessons)
cards:
  - href: unit-plan.html
    title: Unit Plan
    image: images/specification_thumb.png
  - href: /coming-soon.html
    title: Flashcards
    image: images/flashcards_thumb.png
resourcesTitle: Content Slides
resources:
  - href: slides/A1.2_data_representation.html
    number: A1.2
    name: Data Representation
    type: Slide Deck
    target: _blank
  - href: slides/A1.3_operating_systems.html
    number: A1.3
    name: Operating Systems
    type: Slide Deck
    target: _blank
resourcesSecondaryTitle: Teacher Resources
resourcesSecondary:
  - href: /coming-soon.html
    icon: fa-solid fa-chalkboard-user
    name: Teacher Hub
    type: 'Slides, Activities, Assessments'
---
{# Content rendered by layout #}
