---
layout: layouts/arcade.njk
title: 'HL Unit 3: Recursive Problem Solving - SGS Computer Science'
description: 'Recursion, call stack, and recursive algorithms.'
activeSection: ib
breadcrumbs:
  - label: Home
    href: index.html
  - label: IB 2027
    href: ib-2027/index.html
  - label: HL
    href: ib-2027/hl/index.html
  - label: Unit 3
hero:
  title: 'Unit 3: Recursive Problem Solving'
  subtitle: Theme B2.4 | 3 Weeks
cards:
  - href: unit-plan.html
    title: Unit Plan
    image: images/specification_thumb.png
  - href: /coming-soon.html
    title: Flashcards
    image: images/flashcards_thumb.png
resourcesTitle: Content Slides
resources:
  - href: slides/B2.4_programming_algorithms.html
    number: B2.4
    name: Programming Algorithms
    type: Slide Deck
    target: _blank
resourcesSecondaryTitle: Teacher Resources
resourcesSecondary:
  - href: /coming-soon.html
    icon: fa-solid fa-chalkboard-user
    name: Teacher Hub
    type: 'Slides, Activities, Assessments'
---
{# Content rendered by layout #}
