---
layout: layouts/arcade.njk
title: 'B1.4 Algorithm Design - SGS Computer Science'
description: 'Designing algorithms and applying computational thinking to real problems.'
activeSection: ib
breadcrumbs:
  - label: Home
    href: index.html
  - label: IB Computer Science
    href: ib-2027/index.html
  - label: B1
    href: ib-2027/B1/index.html
  - label: B1.4
hero:
  title: 'B1.4 Algorithm Design'
  subtitle: 'SL: 5 hours | HL: 5 hours'
resourcesTitle: Content Slides
resources:
  - href: slides/B1.4_algorithm_design.html
    number: B1.4
    name: Algorithm Design
    type: Slide Deck
    target: _blank
resourcesSecondaryTitle: Teacher Resources
resourcesSecondary: []
---
{# Content rendered by layout #}
