---
layout: layouts/arcade.njk
title: 'A2.2 Network Architecture - SGS Computer Science'
description: 'Network topologies, servers, networking models, and segmentation.'
activeSection: ib
breadcrumbs:
  - label: Home
    href: index.html
  - label: IB Computer Science
    href: ib-2027/index.html
  - label: A2
    href: ib-2027/A2/index.html
  - label: A2.2
hero:
  title: 'A2.2 Network Architecture'
  subtitle: 'SL: 11 hours | HL: 18 hours'
resourcesTitle: Content Slides
resources:
  - href: slides/A2.2_network_architecture.html
    number: A2.2
    name: Network Architecture
    type: Slide Deck
    target: _blank
resourcesSecondaryTitle: Teacher Resources
resourcesSecondary: []
---
{# Content rendered by layout #}
