---
layout: layouts/arcade.njk
title: 'SL Unit 2: Programming Fundamentals - SGS Computer Science'
description: 'Variables, types, operations, and Python basics.'
activeSection: ib
breadcrumbs:
  - label: Home
    href: index.html
  - label: IB 2027
    href: ib-2027/index.html
  - label: SL
    href: ib-2027/sl/index.html
  - label: Unit 2
hero:
  title: 'Unit 2: Programming Fundamentals'
  subtitle: Theme B2.1 | 3 Weeks (9 Lessons)
cards:
  - href: unit-plan.html
    title: Unit Plan
    image: images/specification_thumb.png
  - href: /coming-soon.html
    title: Flashcards
    image: images/flashcards_thumb.png
resourcesTitle: Content Slides
resources:
  - href: slides/B2.1_programming_fundamentals.html
    number: B2.1
    name: Programming Fundamentals
    type: Slide Deck
    target: _blank
resourcesSecondaryTitle: Teacher Resources
resourcesSecondary:
  - href: /coming-soon.html
    icon: fa-solid fa-chalkboard-user
    name: Teacher Hub
    type: 'Slides, Activities, Assessments'
---
{# Content rendered by layout #}
