---
layout: layouts/arcade.njk
title: 'SL Unit 7: Machine Intelligence - SGS Computer Science'
description: 'AI fundamentals, ethics, and applications.'
activeSection: ib
breadcrumbs:
  - label: Home
    href: index.html
  - label: IB 2027
    href: ib-2027/index.html
  - label: SL
    href: ib-2027/sl/index.html
  - label: Unit 7
hero:
  title: 'Unit 7: Machine Intelligence'
  subtitle: 'Themes A4.1, A4.4 | 3 Weeks (9 Lessons)'
cards:
  - href: unit-plan.html
    title: Unit Plan
    image: images/specification_thumb.png
  - href: /coming-soon.html
    title: Flashcards
    image: images/flashcards_thumb.png
resourcesTitle: Content Slides
resources:
  - href: slides/A4.1_machine_learning_fundamentals.html
    number: A4.1
    name: Machine Learning Fundamentals
    type: Slide Deck
    target: _blank
  - href: slides/A4.4_ethical_considerations.html
    number: A4.4
    name: Ethical Considerations
    type: Slide Deck
    target: _blank
resourcesSecondaryTitle: Teacher Resources
resourcesSecondary:
  - href: /coming-soon.html
    icon: fa-solid fa-chalkboard-user
    name: Teacher Hub
    type: 'Slides, Activities, Assessments'
---
{# Content rendered by layout #}
