---
layout: layouts/arcade.njk
title: 'HL Unit 4: Professional OOP Design - SGS Computer Science'
description: 'Design patterns, polymorphism, and advanced OOP.'
activeSection: ib
breadcrumbs:
  - label: Home
    href: index.html
  - label: IB Computer Science
    href: ib-2027/index.html
  - label: HL
    href: ib-2027/hl/index.html
  - label: Unit 4
hero:
  title: 'Unit 4: Professional OOP Design'
  subtitle: Theme B3.2 | 3 Weeks
cards:
  - href: /ib-2027/hl/unit-4/unit-plan.html
    title: Unit Plan
    image: images/specification_thumb.png
  - href: /coming-soon.html
    title: Flashcards
    image: images/flashcards_thumb.png
resourcesTitle: Practical Scenarios (Classroom Activities)
resources:
  - href: /ib-2027/hl/unit-4/scenarios/scenario-darwin-museum.html
    number: '01'
    name: Darwin's Museum
    type: 'Inheritance, Polymorphism & Encapsulation'
resourcesSecondaryTitle: Content Slides
resourcesSecondary:
  - href: /ib-2027/hl/unit-4/slides/B3.2_inheritance_polymorphism.html
    number: B3.2
    name: Inheritance & Polymorphism
    type: Slide Deck
    target: _blank
---
{# Content rendered by layout #}
