---
layout: layouts/arcade.njk
title: 'B4.1 Fundamentals of ADTs - SGS Computer Science'
description: 'Linked lists, binary search trees, sets, hash tables, and core ADT principles.'
activeSection: ib
breadcrumbs:
  - label: Home
    href: index.html
  - label: IB Computer Science
    href: ib-2027/index.html
  - label: B4
    href: ib-2027/B4/index.html
  - label: B4.1
hero:
  title: 'B4.1 Fundamentals of ADTs'
  subtitle: 'HL Only'
resourcesTitle: Content Slides
resources:
  - href: slides/B4.1_fundamentals_of_ADTs.html
    number: B4.1
    name: Fundamentals of ADTs
    type: Slide Deck
    target: _blank
resourcesSecondaryTitle: Teacher Resources
resourcesSecondary: []
---
{# Content rendered by layout #}
