---
layout: layouts/arcade.njk
title: A2 Networks - SGSD Computer Science
description: "IB Computer Science Topic A2: Networks. Interactive learning apps and revision resources."
backLink:
  href: ib/index.html
  label: Back to Topics
hero:
  title: A2 Networks
  subtitle: Interactive Learning Apps & Games
extraStyles:
  - css/resource-style.css
cards:
  - { href: specification.html, title: Specification, image: images/specification_thumb.png }
  - { href: flashcards.html, title: Flashcards, image: images/flashcards_thumb.png }
resources:
  - { href: A2.1_network_fundamentals.html, number: "A2.1", name: Network fundamentals, type: Slide Deck • Presentation }
  - { href: A2.2_network_architecture.html, number: "A2.2", name: Network architecture, type: Slide Deck • Presentation }
  - { href: A2.3_data_transmissions.html, number: "A2.3", name: Data transmissions, type: Slide Deck • Presentation }
  - { href: A2.4_network_security.html, number: "A2.4", name: Network security, type: Slide Deck • Presentation }
  - { href: teacher_toolkit.html, icon: fa-solid fa-toolbox, name: Teacher Toolkit, type: Simulations & Visuals }
  - { href: assessments.html, icon: fa-solid fa-clipboard-check, name: Assessments, type: Quizzes & Tests }
---
{# Content rendered by layout #}
