{% extends "layouts/base.njk" %}
{% import "../components.njk" as ui %}

{% block content %}
    {% if cards %}{{ ui.cardGrid(cards, basePath) }}{% endif %}

    {% if resources %}
        <div class="resource-section">
            <div class="resource-header">
                <h2 class="resource-title">{{ resourcesTitle | default('Teacher Resources') }}</h2>
                <div class="resource-line"></div>
            </div>
            {{ ui.resourceGrid(resources, basePath) }}
        </div>
    {% endif %}

    {{ content | safe }}
{% endblock %}
