{% extends "layouts/slide-deck.njk" %}
{% import "../igcse/macros.njk" as ig %}

{# Always include IGCSE deck styling #}
{% set extraStyles = (extraStyles or []).concat(['css/igcse-deck.css']) %}

{% block content %}
    {% if lesson %}{{ ig.renderLesson(lesson) }}{% endif %}
    {{ content | safe }}
{% endblock %}
