{% extends "layouts/base.njk" %}
{% import "../components.njk" as ui %}

{% block content %}
    {{ ui.topicSections(sections, basePath, wrapperClass | default('')) }}
    {{ content | safe }}
{% endblock %}
