---
layout: layouts/arcade.njk
title: 'HL Unit 7: ML Preprocessing & Math - SGS Computer Science'
description: Data preparation and ML algorithms.
activeSection: ib
breadcrumbs:
  - label: Home
    href: index.html
  - label: IB Computer Science
    href: ib-2027/index.html
  - label: HL
    href: ib-2027/hl/index.html
  - label: Unit 7
hero:
  title: 'Unit 7: ML Preprocessing & Math'
  subtitle: Themes A4.2-A4.3 | 3 Weeks
cards:
  - href: unit-plan.html
    title: Unit Plan
    image: images/specification_thumb.png
  - href: /coming-soon.html
    title: Flashcards
    image: images/flashcards_thumb.png
resourcesTitle: Content Slides
resources:
  - href: slides/A4.2_data_preprocessing.html
    number: A4.2
    name: Data Preprocessing (HL)
    type: Slide Deck
    target: _blank
  - href: slides/A4.3_machine_learning_approaches.html
    number: A4.3
    name: Machine Learning Approaches (HL)
    type: Slide Deck
    target: _blank
resourcesSecondaryTitle: Teacher Resources
resourcesSecondary:
  - href: /coming-soon.html
    icon: fa-solid fa-chalkboard-user
    name: Teacher Hub
    type: 'Slides, Activities, Assessments'
---
{# Content rendered by layout #}
