---
layout: layouts/arcade.njk
title: Topic 4 Assessments - SGSD Computer Science
description: "IGCSE Computer Science Topic 4: Assessments."
backLink:
  href: igcse/topic4/index.html
  label: Back to Topic 4
hero:
  title: Topic 4 Assessments
  subtitle: Quizzes, Tests & Exams
extraStyles:
  - css/resource-style.css
resourcesTitle: Available Assessments
resources:
  - { href: 4.1_assessment.html, icon: fa-solid fa-clipboard-check, name: "4.1 Assessment", type: "System Software & Interrupts" }
  - { href: 4.2_assessment.html, icon: fa-solid fa-clipboard-check, name: "4.2 Assessment", type: "Languages & IDEs" }
  - { href: Topic4_End_of_unit_Test.html, icon: fa-solid fa-file-signature, name: End of Unit Test, type: Topic 4 Final Exam, password: "softwar3!" }
scripts:
  - js/site.js
---
{# Content rendered by layout #}
