---
layout: layouts/arcade.njk
title: Software Arcade - SGSD Computer Science
description: "IGCSE Computer Science Topic 4: Software. Interactive games and revision apps."
backLink:
  href: igcse/index.html
  label: Back to Topics
hero:
  title: 4. Software Arcade
  subtitle: Interactive Learning Apps & Games
extraStyles:
  - css/resource-style.css
cards:
  - { href: specification.html, title: Specification, image: images/specification_thumb.png }
  - { href: flashcards.html, title: Flashcards, image: images/flashcards_thumb.png }
  - { href: software_game.html, title: System Core, image: images/system_core_thumb.png }
resources:
  - { href: 4.1_types_of_software_and_interrupts.html, number: "4.1", name: Types of Software & Interrupts, type: Slide Deck • Presentation }
  - { href: 4.2_languages_translators_and_IDEs.html, number: "4.2", name: Languages, Translators & IDEs, type: Slide Deck • Presentation }
  - { href: teacher_toolkit.html, icon: fa-solid fa-toolbox, name: Teacher Toolkit, type: Simulations & Visuals }
  - { href: assessments.html, icon: fa-solid fa-clipboard-check, name: Assessments, type: Quizzes & Tests }
---
{# Content rendered by layout #}
