---
layout: layouts/arcade.njk
title: 'A3.2 Database Design - SGS Computer Science'
description: 'Schemas, ERDs, data types, normalisation, and denormalisation.'
activeSection: ib
breadcrumbs:
  - label: Home
    href: index.html
  - label: IB Computer Science
    href: ib-2027/index.html
  - label: A3
    href: ib-2027/A3/index.html
  - label: A3.2
hero:
  title: 'A3.2 Database Design'
  subtitle: 'SL: 11 hours | HL: 18 hours'
resourcesTitle: Content Slides
resources:
  - href: slides/A3.2_database_design.html
    number: A3.2
    name: Database Design
    type: Slide Deck
    target: _blank
resourcesSecondaryTitle: Teacher Resources
resourcesSecondary: []
---
{# Content rendered by layout #}
