---
layout: layouts/arcade.njk
title: 'SL Unit 9: Computer Systems - SGS Computer Science'
description: 'Hardware, CPU architecture, and memory.'
activeSection: ib
breadcrumbs:
  - label: Home
    href: index.html
  - label: IB 2027
    href: ib-2027/index.html
  - label: SL
    href: ib-2027/sl/index.html
  - label: Unit 9
hero:
  title: 'Unit 9: Computer Systems'
  subtitle: Theme A1.1 | 2 Weeks (6 Lessons)
cards:
  - href: unit-plan.html
    title: Unit Plan
    image: images/specification_thumb.png
  - href: /coming-soon.html
    title: Flashcards
    image: images/flashcards_thumb.png
resourcesTitle: Content Slides
resources:
  - href: slides/A1.1_computer_hardware.html
    number: A1.1
    name: Computer Hardware
    type: Slide Deck
    target: _blank
resourcesSecondaryTitle: Teacher Resources
resourcesSecondary:
  - href: /coming-soon.html
    icon: fa-solid fa-chalkboard-user
    name: Teacher Hub
    type: 'Slides, Activities, Assessments'
---
{# Content rendered by layout #}
