---
layout: layouts/arcade.njk
title: 'B2.5 File Processing - SGS Computer Science'
description: 'Reading, writing, and appending files in various modes.'
activeSection: ib
breadcrumbs:
  - label: Home
    href: index.html
  - label: IB Computer Science
    href: ib-2027/index.html
  - label: B2
    href: ib-2027/B2/index.html
  - label: B2.5
hero:
  title: 'B2.5 File Processing'
  subtitle: 'SL: 40 hours | HL: 42 hours'
resourcesTitle: Content Slides
resources:
  - href: slides/B2.5_file_processing.html
    number: B2.5
    name: File Processing
    type: Slide Deck
    target: _blank
resourcesSecondaryTitle: Teacher Resources
resourcesSecondary: []
---
{# Content rendered by layout #}
