---
layout: layouts/arcade.njk
title: 'B3.2 Fundamentals of OOP for Multiple Classes (HL Only) - SGS Computer Science'
description: 'Inheritance, polymorphism, abstraction, composition, aggregation, and design patterns.'
activeSection: ib
breadcrumbs:
  - label: Home
    href: index.html
  - label: IB Computer Science
    href: ib-2027/index.html
  - label: B3
    href: ib-2027/B3/index.html
  - label: B3.2
hero:
  title: 'B3.2 Fundamentals of OOP for Multiple Classes'
  subtitle: 'HL Only'
resourcesTitle: Content Slides
resources:
  - href: slides/B3.2_inheritance_polymorphism.html
    number: B3.2
    name: Inheritance & Polymorphism
    type: Slide Deck
    target: _blank
resourcesSecondaryTitle: Teacher Resources
resourcesSecondary: []
---
{# Content rendered by layout #}
