---
layout: layouts/arcade.njk
title: 'SL Unit 1: Computational Thinking - SGS Computer Science'
description: >-
  Problem specification, the four pillars of computational thinking, and
  flowchart design.
activeSection: ib
breadcrumbs:
  - label: Home
    href: index.html
  - label: IB 2027
    href: ib-2027/index.html
  - label: SL
    href: ib-2027/sl/index.html
  - label: Unit 1
hero:
  title: 'Unit 1: Computational Thinking'
  subtitle: Theme B1 | 2 Weeks (6 Lessons)
cards:
  - href: unit-plan.html
    title: Unit Plan
    image: images/specification_thumb.png
  - href: /coming-soon.html
    title: Flashcards
    image: images/flashcards_thumb.png
resourcesTitle: Content Slides
resources:
  - href: slides/B1.1_problem_specification.html
    number: B1.1
    name: Problem Specification
    type: Slide Deck
    target: _blank
  - href: slides/B1.2_computational_thinking.html
    number: B1.2
    name: Four Pillars of CT
    type: Slide Deck
    target: _blank
  - href: slides/B1.3_flowcharts_pseudocode.html
    number: B1.3
    name: Flowcharts & Pseudocode
    type: Slide Deck
    target: _blank
  - href: slides/B1.4_algorithm_design.html
    number: B1.4
    name: Algorithm Design
    type: Slide Deck
    target: _blank
resourcesSecondaryTitle: Teacher Resources
resourcesSecondary: []
---
{# Content rendered by layout #}
