---
layout: layouts/arcade.njk
title: 'Case Study - SGS Computer Science'
description: 'IB Computer Science case study resources for SL and HL.'
activeSection: ib
breadcrumbs:
  - label: Home
    href: index.html
  - label: IB Computer Science
    href: ib-2027/index.html
  - label: Case Study
hero:
  title: 'Case Study'
  subtitle: 'SL + HL Case Study Resources'
resourcesTitle: Resources
resources: []
resourcesSecondaryTitle: Teacher Resources
resourcesSecondary: []
---
{# Content rendered by layout #}
