---
layout: layouts/arcade.njk
title: 'HL Unit 6: Abstract Data Types - SGS Computer Science'
description: 'Linked lists, BSTs, hash tables, and sets.'
activeSection: ib
breadcrumbs:
  - label: Home
    href: index.html
  - label: IB Computer Science
    href: ib-2027/index.html
  - label: HL
    href: ib-2027/hl/index.html
  - label: Unit 6
hero:
  title: 'Unit 6: Abstract Data Types'
  subtitle: Theme B4.1 | 7 Weeks
cards:
  - href: unit-plan.html
    title: Unit Plan
    image: images/specification_thumb.png
  - href: /coming-soon.html
    title: Flashcards
    image: images/flashcards_thumb.png
resourcesTitle: Content Slides
resources:
  - href: slides/B4.1_fundamentals_of_ADTs.html
    number: B4.1
    name: Fundamentals of ADTs
    type: Slide Deck
    target: _blank
resourcesSecondaryTitle: Teacher Resources
resourcesSecondary:
  - href: /coming-soon.html
    icon: fa-solid fa-chalkboard-user
    name: Teacher Hub
    type: 'Slides, Activities, Assessments'
---
{# Content rendered by layout #}
