---
layout: layouts/arcade.njk
title: 'A3.3 Database Programming - SGS Computer Science'
description: 'SQL DDL, DML, joins, aggregate functions, views, and transactions.'
activeSection: ib
breadcrumbs:
  - label: Home
    href: index.html
  - label: IB Computer Science
    href: ib-2027/index.html
  - label: A3
    href: ib-2027/A3/index.html
  - label: A3.3
hero:
  title: 'A3.3 Database Programming'
  subtitle: 'SL: 11 hours | HL: 18 hours'
resourcesTitle: Content Slides
resources:
  - href: slides/A3.3_database_programming.html
    number: A3.3
    name: Database Programming
    type: Slide Deck
    target: _blank
resourcesSecondaryTitle: Teacher Resources
resourcesSecondary: []
---
{# Content rendered by layout #}
