---
layout: layouts/arcade.njk
title: 'B3 Object-Oriented Programming - SGS Computer Science'
description: 'OOP fundamentals for single and multiple classes, inheritance, polymorphism, and design patterns.'
activeSection: ib
breadcrumbs:
  - label: Home
    href: index.html
  - label: IB Computer Science
    href: ib-2027/index.html
  - label: B3
hero:
  title: 'B3 Object-Oriented Programming'
  subtitle: 'SL: 7 hours | HL: 23 hours'
specification:
  examCode: 'B3'
  unitSummary: 'Is object-oriented programming (OOP) an appropriate paradigm for solving complex problems?'
  subtopics:
    - 'B3.1 Fundamentals of OOP for a Single Class'
    - 'B3.2 Fundamentals of OOP for Multiple Classes'
resourcesTitle: Subtopics
resources:
  - href: B3.1/index.html
    number: B3.1
    name: Fundamentals of OOP for a Single Class
    type: SL + HL
  - href: B3.2/index.html
    number: B3.2
    name: Fundamentals of OOP for Multiple Classes
    type: HL Only
resourcesSecondaryTitle: Unit Resources
resourcesSecondary:
  - href: textbook.html
    icon: fa-solid fa-book
    name: Textbook
    type: Unit-level textbook reader
---
{# Content rendered by layout #}
