---
layout: layouts/arcade.njk
title: 'SL Unit 12: Case Study Inquiry - SGS Computer Science'
description: Annual case study analysis and exam preparation.
activeSection: ib
breadcrumbs:
  - label: Home
    href: index.html
  - label: IB 2027
    href: ib-2027/index.html
  - label: SL
    href: ib-2027/sl/index.html
  - label: Unit 12
hero:
  title: 'Unit 12: Case Study Inquiry'
  subtitle: Case Study | 2 Weeks
cards:
  - href: unit-plan.html
    title: Unit Plan
    image: images/specification_thumb.png
  - href: /coming-soon.html
    title: Flashcards
    image: images/flashcards_thumb.png
resourcesTitle: Content Slides
resources: []
resourcesSecondaryTitle: Teacher Resources
resourcesSecondary:
  - href: /coming-soon.html
    icon: fa-solid fa-chalkboard-user
    name: Teacher Hub
    type: 'Slides, Activities, Assessments'
---
{# Content rendered by layout #}
