---
layout: layouts/arcade.njk
title: 'A4.1 Machine Learning Fundamentals - SGS Computer Science'
description: 'Types of machine learning, hardware requirements, and real-world applications.'
activeSection: ib
breadcrumbs:
  - label: Home
    href: index.html
  - label: IB Computer Science
    href: ib-2027/index.html
  - label: A4
    href: ib-2027/A4/index.html
  - label: A4.1
hero:
  title: 'A4.1 Machine Learning Fundamentals'
  subtitle: 'SL: 5 hours | HL: 18 hours'
resourcesTitle: Content Slides
resources:
  - href: slides/A4.1_machine_learning_fundamentals.html
    number: A4.1
    name: Machine Learning Fundamentals
    type: Slide Deck
    target: _blank
resourcesSecondaryTitle: Teacher Resources
resourcesSecondary: []
---
{# Content rendered by layout #}
